<br>
<h1> Welcome <%= @current_doctor.username.capitalize! %>! </h1>
<h2 style='border-top: 0px;'>Add a new dog to your list of patients: </h2>

<form method='POST' action='/dogs'>

    <label>Enter Dog Name: </label>
    <input type='text' name='dog_name' id='dog_name'>

    <label>Enter Dog Age: </label>
    <input type='text' name='dog_age' id='dog_age'>

    <br>
    <br>
    <br>

    <h2>Select The Dog Breed: </h2>
    

        <% @breeds.each do |breed| %>
            <input type='radio' name='breed_id' id='breed_<%= breed.id %>' value='<%= breed.id %>'><%= breed.name %>
        <% end %>

    <br>
    <br>
    

    <h3 style='border-top: 0px;'> Or Create A New Breed: </h3>
    <br>
    
    <label>Breed Name: </label>
    <input type='text' name='breed_name' id='breed_name'>

    <br>
    <br>
    <br>

    <h2>Select The Shelter The New Dog Belongs To: </h2>
    

        <% @shelters.each do |shelter| %>
            <input type='radio' name='shelter_id' id='shelter_<%= shelter.id %>' value='<%= shelter.id %>'><%= shelter.name %>  
        <% end %>

    <br>  
    <br>
    <p style="text-align: center; font-size: 12px;"> (Or Click <a href="/doctors/new_shelter"> Here </a> to Create A New Shelter) </p>
    <input type='submit' value='Create Dog' id='submit'>
</form>
        